.outerContianer {
    padding-top: 160px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 100px 50px 100px;

}

.headerImage {
    width: 100%;
    max-height: auto;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 2rem;
}

.headerImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subHeading {
    font-family: "BwGradual", sans-serif;
    font-size: clamp(3.2rem, 6.8vw, 5.8rem);
    line-height: 1.1;
    font-weight: 400;
    color: #fff;
    margin-bottom: 40px;
}

.content {
    max-width: 800px;
    width: 100%;
    text-align: left;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}

.text {
    font-size: 1rem;
    line-height: 1.6;
    white-space: pre-line;
    margin-bottom: 2rem;
}

.backButton {
    display: flex;
    align-items: left;
    gap: 8px;
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    padding: 0;
    opacity: .7;
    transition: opacity 0.3s ease;
    margin-left: 100px;
}

.backButton:hover {
    opacity: 0.6;
}

.loading {
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
}