@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

@font-face {
    font-family: "BwGradual";
    src: url("/fonts/BwGradualDEMO-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BwGradualBold";
    src: url("/fonts/BwGradualDEMO-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Qulight";
    src: url("/fonts/Qulight-Regular-BF68e4d6c9af6af.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.blogHeader {
    text-align: center;
    padding: 120px 20px 80px;
    margin: 0 auto;
}

.pageTitle {
    padding-top: 130px;
    font-family: "BwGradual", sans-serif;
    font-size: clamp(3.2rem, 6.8vw, 5.8rem);
    line-height: 1.1;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.subtitle {
    width: 70vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;

}


.sortMenu {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
    z-index: 3;
}

.sortButton {
    border: none;
    background: transparent;
    font-weight: 600;
    color: #888;
    font-size: 0.9rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 6px 10px;
}

.sortButton:hover {
    color: #fff;
}

.active {
    color: #fff;
    border-bottom: 2px solid #fff;
}

/* GRID */
.wrapper {
    width: 100%;
    padding: 100px 8vw;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px 50px;
}

.blogCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.blogCard:hover {
    transform: translateY(-4px);
}

.imageWrapper {
    width: 100%;
    aspect-ratio: 16 / 10;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: transform 0.4s ease;
    border: 1px solid #eee;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.imageWrapper:hover {
    transform: scale(1.015);
}

.blogInfo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.blogTitle {
    font-family: "BwGradual", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

.shortDescription {
    padding-top: 10px;
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 10px;
    max-width: 600px;

}

.blogLabel {
    display: inline-block;
    font-size: 0.8rem;
    color: #999999;
    border: 0.5px solid #999999;
    border-radius: 20px;
    padding: 6px 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    width: fit-content;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .wrapper {
        padding: 80px 5vw;
    }

    .blogHeader {
        padding: 80px 20px 60px;
    }

    .pageTitle {
        font-size: clamp(2.4rem, 8vw, 4rem);
    }

    .subtitle {
        font-size: clamp(0.9rem, 2vw, 1.1rem);
    }
}