.carouselContainer {
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
    background: #fafafa;
}

.carouselWrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    align-items: center;
    gap: 60px;
    will-change: transform;
}

.techItem {
    flex: 0 0 auto;
    width: 140px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
    opacity: 0.8;
    transition: all 0.3s ease;
}

.techItem:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .techItem {
        width: 70px;
        height: 70px;
    }

    .carousel {
        gap: 40px;
    }
}

.faqContainer {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.faqTitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.faqDescription {
    font-size: 16px;
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

.faqList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 900px;
}

.faqItem {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.faqQuestion {
    width: 100%;
    padding: 15px;
    background: #f9f9f9;
    border: none;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    color: black;
}

.faqQuestion:hover {
    background: #f1f1f1;
}

.faqAnswer {
    padding: 15px;
    background: white;
    border-top: 1px solid #ddd;
    font-size: 14px;
    text-align: start;
    color: #333;
}

.ServiceContainer {
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.Services {
    margin-top: -100px;
    background-color: rgb(255, 255, 255);
    padding: 40px;

    border: 1px solid;
    /* Nécessaire pour afficher la bordure */
    border-image-source: linear-gradient(to right, #4568dc, #b06ab3);
    border-image-slice: 1;
    border-radius: 10px;
}

.Services:hover {
    box-shadow: 0 0 15px rgba(69, 104, 220, 0.5);
    /* Ombre colorée */

}


.subContainer {
    display: flex;
    justify-content: center;
}