.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
    z-index: 1000;
    border-bottom: 1px solid rgb(224, 224, 224);
    height: 80px;
    background-color: #fefefee5;
}

.scrolled {
    backdrop-filter: blur(10px);
    background: rgba(var(--background-rgb), 1.0);
    background-color: #f3f3f3e5;
    padding: 10px 100px;
    box-shadow: 0px 5px 10px rgba(var(--background-rgb), 0.9);

}

.navLinks {
    list-style: none;
    display: flex;
    font-size: 14px;
    gap: 10px;
}

.navLinks li a {
    text-decoration: none;
    color: #334155;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 5px;
    display: inline-block;
    transition: color 0.3s, background 0.3s;
}

.navLinks li a:hover,
.navLinks .active {
    color: var(--highlight);
    /* background: linear-gradient(to top, #000000, #434343); */
}

.ctaButton,
.ctaButton2 {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    transition: background 0.3s ease-in-out;
}

.ctaButton {
    background: linear-gradient(to top, #000000, #0c0c0c);
    color: var(--background);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.ctaButton:hover {
    background-color: var(--foreground);
    opacity: .9;
}

.ctaButton2 {
    background-color: var(--background);
    border: 1px solid var(--foreground);
    color: var(--foreground);
    /* border: none; */
    cursor: pointer;
    margin-left: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.ctaButton2:hover {
    background: linear-gradient(to top, #000000, #434343);
    color: var(--background);
}

.ctaContainer {
    gap: 10px;
}

.statusIndicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 8px;
    border-radius: 50%;
}

.online {
    background-color: #4CAF50;
    box-shadow: 0px 0px 5px 0px rgba(34, 255, 0, 0.75);
}

.offline {
    background-color: #E53935;
    box-shadow: 0px 0px 5px 0px #E53935;
}

.navLeft {
    display: flex;
    align-items: center;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.burgerLine {
    background-color: var(--foreground);
    height: 3px;
    width: 100%;
}

.menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    background-color: var(--background);
    max-height: 600px;
    overflow-y: auto;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 999;
    background-color: var(--background);
    height: 500px;
}

.menu.open {
    display: block;
    opacity: 1;
}

.navLinks.open {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    text-align: center;
}

.mobileMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
    z-index: 1000;
    height: 80px;
    backdrop-filter: blur(10px);
    background: var(--background);
    padding: 10px 40px;
    box-shadow: 0px 5px 10px var(--background);
    border-bottom: 1px solid rgb(224, 224, 224);
}

.logo {
    font-weight: bold;
}

@media (max-width: 768px) {
    .mobileMenu {
        display: flex;
    }

    .navLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .navbar {
        display: none;
    }

    .burger {
        display: flex;
    }

    .ctaButton,
    .ctaButton2 {
        display: none;
    }

    .headerContainer {
        display: flex;
        flex-direction: column;
    }


}

@media (max-width: 400px) {
    .navLinks {
        display: block;
    }

    .ctaButton {
        display: none;
    }

    .burger {
        display: flex;
    }
}