.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.projectContainer {
    position: relative;
}

.project {
    margin-top: 100px;
    background-image: var(--image);
    background-size: cover;
    background-position: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    transition: background-image 0.3s ease-in-out;
    background-color: rgb(29, 29, 29);
    position: relative;
}

.project:hover {
    background-image: var(--hover);
}

.label {
    position: absolute;
    top: 8px;
    right: 8px;
    background: var(--background);
    backdrop-filter: blur(8px);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.title {
    font-size: 13px;
    color: white;
    padding: 5px;
}

@media (max-width: 1000px) {

    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

}

@media (max-width: 600px) {

    .grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }

}


@keyframes loadingSkeleton {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}