.rotating-main {
    padding-inline: 0.5rem;
    padding-block: 0.125rem;
    background: #fff;
    color: #000;
    font-family: "BwGradualBold", sans-serif;
    margin-left: 30px;
    font-size: clamp(3.2rem, 4.4vw, 3.8rem);
    border-radius: 0.5rem;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

@media (min-width: 640px) {
    .rotating-main {
        padding-block: 0.25rem;
    }
}

@media (min-width: 768px) {
    .rotating-main {
        padding-inline: 0.75rem;
        padding-block: 0.5rem;
    }
}

.rotating-split {
    overflow: hidden;
    padding-bottom: 0.125rem;
}

@media (min-width: 640px) {
    .rotating-split {
        padding-bottom: 0.25rem;

    }
}

@media (min-width: 768px) {
    .rotating-split {
        padding-bottom: 0.25rem;
        /* md:pb-1 */
    }
}

.text-rotate {
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
    position: relative;
}

.text-rotate-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.text-rotate-word {
    display: inline-flex;
}

.text-rotate-lines {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text-rotate-element {
    display: inline-block;
}

.text-rotate-space {
    white-space: pre;
}