.scrollToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s;
    color: gray;
    z-index: 100;
}

.scrollToTop.show {
    opacity: 1;
    transform: translateY(0);
}

.scrollToTop:hover {
    color: #a1a1a1;
}