.shinyText {
    position: relative;
    display: inline-block;

    color: #8f8f8f;

    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 1) 70%,

            rgba(0, 0, 0, 0.02) 55%,
            rgba(255, 255, 255, 0) 75%,
            rgba(255, 255, 255, 0) 100%);
    background-size: 200% 100%;
    background-repeat: no-repeat;

    -webkit-background-clip: text;
    background-clip: text;

    text-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
    font-size: 14px;
    animation: shine var(--shine-duration, 3s) linear infinite;
}

@media (min-width: 640px) {
    .shinyText {
        font-size: 17px;
    }
}

.shinyTextDisabled {
    background-image: none;
    background-clip: initial;
    -webkit-background-clip: initial;
    text-shadow: none;
    color: #8f8f8f;
    animation: none;
    font-size: 10px;
}

@keyframes shine {
    from {
        background-position: 100% 0;
    }

    to {
        background-position: -100% 0;
    }
}